			<link rel="stylesheet" href="resources/css/style.css"></link>
			<fieldset class="filters-group group-fileinput">
					<SELECT id="anho" NAME="anho" SIZE="1" class="ui-selectonemenu ui-widget ui-state-default ui-corner-all ui-helper-clearfix"> 
					   <OPTION VALUE="2014">2014</OPTION>
					   <OPTION VALUE="2015">2015</OPTION> 
					   <OPTION VALUE="2014">2014</OPTION> 
					   <OPTION VALUE="2013">2013</OPTION> 
					   <OPTION VALUE="2012">2012</OPTION>
					   <OPTION VALUE="2011">2011</OPTION> 
					   <OPTION VALUE="2010">2010</OPTION> 
					   <OPTION VALUE="2009">2009</OPTION> 
					   <OPTION VALUE="2008">2008</OPTION>
					   <OPTION VALUE="2007">2007</OPTION> 
					   <OPTION VALUE="2006">2006</OPTION> 
					   <OPTION VALUE="2005">2005</OPTION> 
					</SELECT> 
					<input id="fileinput" value="Importaciones" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
					<input id="fileinput2" value="Exportaciones" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
					
			</fieldset>
			
			<fieldset class="filters-group csv-load-errors"></fieldset>
